@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  margin: 0px;
  font-family: "segoe ui";
  min-height: 100vh;
}
/* Googlefont Poppins CDN Link */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  /* background: #3E8DA8; */
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar {
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
.navbar .logo a {
  font-size: 30px;
  color: rgb(124, 123, 123);
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}
nav .navbar .links {
  display: flex;
}
nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: rgb(87, 85, 85);
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: rgb(92, 88, 88);
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}
.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar .links li .sub-menu a {
  color: rgb(117, 116, 116);
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}

.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}
.navbar .search-box {
  position: relative;
  height: 40px;
  width: 40px;
}
.navbar .search-box i {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: rgb(112, 108, 108);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box {
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: white;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box {
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #3e8da8;
}
.search-box .input-box::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: #3e8da8;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo {
  display: none;
}
.navbar .bx-menu {
  display: none;
}
@media (max-width: 920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a {
    font-size: 27px;
  }
  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  .navbar .bx-menu {
    display: block;
  }
  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: white;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name {
    font-size: 25px;
    color: rgb(136, 133, 133);
  }
  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: rgb(116, 112, 112);
  }
  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow {
    line-height: 40px;
  }
  nav .navbar .links li {
    display: block;
  }
  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }
  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }
  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }
  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
}
@media (max-width: 370px) {
  nav .navbar .nav-links {
    max-width: 100%;
  }
}

/* Home Section */

.home-section {
  width: 99%;
  max-width: 100%;
  background-image: url("./images/home\ background.png");
  background-size: cover;
  background-position: center center;
  background-position-x: center;
  margin: 0;
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
}
.home-img {
  margin-top: 6rem;
  margin-left: 80px;
  max-height: 100%;
  max-width: 90%;
}
.left-section {
  margin-top: 15rem;
}

.c-h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  color: #4d4d4d;
  margin-left: 5rem;
  width: 400px;
}
.c-p {
  font-size: 19px;
  line-height: 30px;
  font-weight: 400;
  color: #949494;
  margin-left: 5rem;
  margin-bottom: 35px;
}
.c-btn {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  background: #7ab55c;
  border: 1px solid #88c06b;
  padding: 17px 53px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  opacity: 1;
  -webkit-box-shadow: 0px 4px 0px 0px #68994f;
  -moz-box-shadow: 0px 4px 0px 0px #68994f;
  box-shadow: 0px 4px 0px 0px #68994f;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  background: #ef662f;
  border-color: #f28053;
  -webkit-box-shadow: 0px 4px 0px 0px #d15625;
  -moz-box-shadow: 0px 4px 0px 0px #d15625;
  box-shadow: 0px 4px 0px 0px #d15625;
  margin-left: 5rem;
}

@media (max-width: 768px) {
  .home-section {
    margin-top: 4rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 99%;
    padding-right: 50px;
    height: 780px;
  }
  .home-img {
    margin-top: 4rem;
    padding-right: 50px;

  }
  .left-section {
    margin-top: 3rem;
    padding-right: 50px;

  }

  .c-h1 {
    font-size: 30px;
    line-height: 50px;
    font-weight: 900;
    color: #373c3f;
    width: 300px;
    /* margin-left: 5rem; */
    text-align: center;
  }
  .c-p {
    font-size: 19px;
    line-height: 30px;
    font-weight: 400;
    color: #949494;
    margin-left: 5rem;
    margin-bottom: 35px;
    text-align: center;
  }
  .c-btn {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
    background: #7ab55c;
    border: 1px solid #88c06b;
    padding: 24px 90px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    opacity: 1;
    -webkit-box-shadow: 0px 4px 0px 0px #68994f;
    -moz-box-shadow: 0px 4px 0px 0px #68994f;
    box-shadow: 0px 4px 0px 0px #68994f;
    -webkit-transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background: #ef662f;
    border-color: #f28053;
    -webkit-box-shadow: 0px 4px 0px 0px #d15625;
    -moz-box-shadow: 0px 4px 0px 0px #d15625;
    box-shadow: 0px 4px 0px 0px #d15625;
    padding-bottom:30px;
  }
}

/* Wrapper Section */
.slider-container {
  width: 100%;
  height: 80px;
  margin-top:21rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  padding:20px;
  border-bottom:1px solid rgb(192, 191, 191);
}
.inner-slider {
  width: 150%;
  display: flex;
  gap: 8rem;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-right:auto;
  margin-left:auto;
  padding-left:5rem;
  opacity:0.5;
}
.inner-slider:hover{
  opacity:1.5;
}

@media (max-width: 768px) {
  
/* Wrapper Section */
.slider-container {
  width: 100%;
  height: 80px;
  margin-top:5rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  /* padding:20px; */
  border-bottom:1px solid rgb(192, 191, 191);

  
}
.inner-slider {
  width: 150%;
  display: flex;
  gap: 2rem;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-right:auto;
  margin-left:auto;
  padding-left:5rem;
}
.inner-slider:hover{
  opacity:0.5;
  color:rgb(68, 68, 68);
}
}

/* Landing Easy */
.main{
  margin-top:10rem;
}
.upper-main{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-bottom:30px;
}
.lower-main{
  display:flex;
  flex-direction:row;
  margin:auto;
}
.easy-paragraph{
  font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    color: #949494;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.easy-heading{
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  color: #30373b;
}
.left-flex{
  display: flex;
  flex-direction: row;
}

.circle-icon {
  background: #ffc0c0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 30px;
}